/Java Multithreading/ThreadPoolWebScraper/target/
/Java Networking/IPLooker/target/
/Java Networking/IPLooker/SimpleServer/target/
/Java Networking/SimpleClient/target/
/Testing and Practice/FileManagerFolder/target/
